html {
  width: 100vw;
}

body {
  background-color: #ECEEF1;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

a {
  color: #0077C5;
  font-size: 12px;
}

/* header */

header {
  width: 100%;
  padding-right: 5%;
}

#top-buttons {
  float: right;
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  margin-right: 27px;
}

#top-buttons ul {
  display: inline-block;
}

#top-buttons li {
  list-style-type: none;
  font-size: 12px;
}

#top-buttons button {
  padding: 9px 20px;
  margin-left: 6px;
  display: flex;
  align-items: center;
}

#top-buttons button img, #signup-form img {
  width: 14px;
  height: auto;
  margin-right: 5px;
}

/* signup form */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logos {
  margin: 12vh auto 0;
  width: 350px;
}

#signup-form {
  width: 27%;
  height: 50%;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #C7C7C7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-form h2 {
  color: #4C4C4C;
  font-size: 1.2rem;
}

#signup-form p:first-of-type {
  color: #4C4C4C;
  font-size: 13px;
  margin: 0 auto;
}

#signup-form label {
  color: #404040;
  font-size: 14px;
  line-height: 25px;
}

#signup-form label, #signup-form button {
  margin-top: 30px;
  width: 80%;
}

#signup-form input {
  width: 100%;
  height: 34px;
  border: 1px solid #C1C5C8;
  border-radius: 3px;
  padding-left: 8px;
}

#signup-form input[type="password"] {
  background-image: url("./assets/unlock.svg");
  background-repeat: no-repeat;
  background-position: 96% 50%;
  background-size: 24px;
}

#signup-form button, #top-buttons button {
  color: #fff;
  background-color: #0077C5;
  border: none;
  border-radius: 4px;
}

#signup-form button {
  padding: 9px 20px;
  margin-left: 6px;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.privacy-statement {
  font-style: italic;
  font-size: 12px;
  width: 67%;
  padding: 40px 0 30px;
  line-height: 1.9;
}


/* Align text centrally */

#signup-form p {
  text-align: center;
}

#signup-form-captcha {
  background-color: #ECEEF1;
  width: 100%;  
}

#signup-form-captcha p {
  padding: 10px;
}
 
#signup-form-captcha a, #signup-form-captcha p {
  font-size: 10px;
}

/* footer */

footer {
  font-size: 12px;
  color: rgb(54, 42, 42);
}

footer ul {
  display: flex;
  justify-content: center;
  margin: 15px auto 0;

}

footer li {
  list-style-type: none;
  margin-right: 15px;
}

footer li a {
  color: #4C4C4C;
  text-decoration: none;
  font-size: 11px;
}

footer p {
  text-align: center;
  color: #4C4C4C;
  margin-top: 1px;
}

#privacy {
  color: #fff;
  background-color: #6B6C72;
  border-radius: 3px;
  padding: 10px 15px;
  position: fixed;
  bottom: 0; 
  border: none;
  right: 5%;
}