html {
  height: 100vh;
  width: 100vw;
}

header {
  width: 100%;
  padding-right: 5%;
}

#top-buttons {
  float: right;
  position: absolute;
  right: 0px;
}

main {
  display: flex;
}

#signup-form {
  width: 27%;
  height: 50%;
  margin: 21vh auto;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-form label, #signup-form button {
  margin-top: 20%;
  width: 80%;
}

#signup-form input, #signup-form input[type="tel"] {
  width: 100%;
}

/* Align text centrally*/

#signup-form p {
  text-align: center;
}

#signup-form-footer {
  background-color: #ECEEF1;
}
